:root {
  /* color */
  --color-white: #FFFFFF;
  --color-dark: #333333;
  --color-black: #000000;
  --color-gray: #CACACA;
  --color-gray-2: #ECECEC;
  --color-gray-3: #999999;
  --color-gray-4: #666666;
  --color-orange: #E75300;
  --color-violet-2: #7943A4;
  --color-violet-3: #D1A9F0;
  --color-violet-4: #C283F3;

  /* transition */
  --short: .3s ease;
  --short-2: 3s ease;

  /* W&P */
  --container-max-width: 1940px;
  --container-padding-1: 160px;
  --container-padding-2: 80px;
  --container-padding-3: 50px;
  --container-padding-4: 15px;

  /* other */
  --burger-line-big: 3.65px;
  --burger-line: 3px;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
